Cython
librosa~=0.9.2
numpy
scipy
tensorboard
torch
torchvision
torchaudio
unidecode
pyopenjtalk
jamo
pypinyin
jieba~=0.42.1
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.69
num_thai==0.0.5
opencc==1.1.9
demucs
gradio~=3.18.0